{% load staticfiles %}
<html>
    <head>
      <title>Le Blog de Mathilde</title>
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
      <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
      body {
    padding-left: 15px;
}
        <div>
            <h1><a href="">Le Blog de Mathilde</a></h1>
        </div>

        <div>
          {% for post in posts %}
            <div>
                <p>publié: {{ post.published_date }}</p>
                <h1><a href="">{{ post.title }}</a></h1>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
          {% endfor %}
        </div>
    </body>
</html>
